Emergency Services/Service References/WebServiceDB/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21944/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="KarsilamaMesaji">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isim" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KarsilamaMesajiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KarsilamaMesajiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="olayEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="olayTürü" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kisiSayi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adres" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="olayEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="olayEkleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HastaneGetir">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HastaneGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HastaneGetirResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>